{{ partial "header.html" . }}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <h4>domain name</h4>
        <!--<img alt="Brand" src="http://placehold.it/25x25">-->
      </a>
    </div>
  </div>
</nav>
<section class="main">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<h1>Title for site</h1>
		    {{ range $.Site.Data.products }}
		        {{ partial "product.html" . }}
		    {{ end }}   
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		  {{ range first 10 .Data.Pages }}
		  	{{ if eq .Type "post" }}
		  	<h2>Posts</h2>
		    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
		    {{ end }}
		  {{ end }}
	</div>
	<div class="col-sm-5">
		{{ range first 10 .Data.Pages }}
			{{ if eq .Type "page" }}
			<h2>Pages</h2>
			<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
			{{ end }}
		{{ end }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">

	</div>
</div>
</div>
</section>
{{ partial "footer.html" . }}